<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.BoardMapper">
	<select id="list" resultType="BoardDTO">
		SELECT * FROM studyboard
	</select>
	<select id="view" resultType="BoardDTO">
		SELECT * FROM studyboard WHERE idx=#{idx}	
	</select>
    <insert id="write" parameterType="BoardDTO">
    	insert into studyboard(id,title,content,regdate) values(#{id},#{title},#{content},sysdate());
    </insert>
    <select id="edit" resultType="BoardDTO">
		SELECT * FROM studyboard WHERE idx=#{idx}	
	</select>
	<update id="update" parameterType="BoardDTO">
		UPDATE studyboard SET
			id = #{id}, 
			title = #{title}, 
			content = #{content}, 
			regdate = sysdate() 
		WHERE idx = #{idx}
	</update>
	<delete id="delete">
		DELETE FROM studyboard
		WHERE idx = #{idx}
	</delete>
	
</mapper>